h1{
    text-align: center;
    font-size: 50px;
    font-family: helvetica;
}
form {
    position: absolute;
    top: 40%;
    left: 45%;
    margin-top: -50px;
    margin-left: -50px;
    border-radius: 20px;
    width: 300px;
    
  }

  body{
      background-color: #8b9dc3;
  }

a:hover{
    color: red;
}

table, th, td {
    border: 1px solid black;
    margin-left:auto; 
    margin-right:auto;
  }

  body{ 
      text-align: center; 
      font-size: 25px;
    }